

.tile{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: absolute;
  /*animation-duration: 1s;*/
  transition-duration: 0.5s;
  /*animation-name: swap;*/
}

#blankTile{
  background-color: navy;
}

#tile{

}

.tile-active {
  background-color: #45CEE0;
  height: 200px;
  width: 200px;
}

.tile:hover {
     transform: rotate(7deg);
}


/*@keyframes swap {
  from {
    margin-left: 50%;
  }

  to {
    margin-left: 0%;
  }
}
